<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navigation</title>
</head>
<body>
    <div>
        <h1>bNetwork</h1>
        <p>Your ad could be here</p>
    </div>
    <hr>
    <div>
        <h2>Our opportunities</h2>
        <div>
            <form action="{% url 'uniqueness_title_url' %}" method="GET">
                <p>Check the uniqueness of a song, book or movie title</p>
                <input type="submit" value="Check the uniqueness">
            </form>
            <form action="{% url 'deputy_fails_url' %}">
                <p>Here you can see deputes' fails or add their fails</p>
                <input type="submit" value="Submit">
            </form>

        </div>
    </div>
</body>
</html>