<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UniqName</title>
</head>
<body>
    <div>
        <h1>UnikName</h1>
        <p>Here you can check the uniqueness of a song, book or movie title.</p>
        <p>You can register your own titles soon.</p>
    </div>
    <div>
        <p>Please choose a category: ''here must be list of categories''</p>

    </div>
</body>
</html>
