<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UniqName</title>
</head>
<body>
    <div>
        <h1>UnikName</h1>
        <p>Here you can check the uniqueness of a song, book or movie title.</p>
        <p>You can register your own titles soon.</p>
    </div>
    <div>
        <p>Please choose a category:</p>
        <form> {% csrf_token %}
            <input type="radio" name="category" value="Book">Book<br>
            <input type="radio" name="category" value="Movie">Movie<br>
            <input type="radio" name="category" value="Song">Song<br>
        </form>
        <form method="post"> {% csrf_token %}
            {{ form.as_p }}
        </form>
    </div>
</body>
</html>
